---
- name: Ensure Node Exporter directory exists
  file:
    path: /usr/local/bin/node_exporter-1.6.1.linux-amd64
    state: directory
    owner: ubuntu
    group: ubuntu
    mode: '0755'

- name: Copy Node Exporter binary
  copy:
    src: files/node_exporter-1.6.1.linux-amd64/node_exporter
    dest: /usr/local/bin/node_exporter-1.6.1.linux-amd64/node_exporter
    mode: '0755'
    owner: ubuntu
    group: ubuntu

- name: Create systemd service for Node Exporter
  template:
    src: templates/node_exporter.service.j2
    dest: /etc/systemd/system/node_exporter.service
    mode: '0644'
  notify:
    - Reload systemd

- name: Start and enable Node Exporter
  systemd:
    name: node_exporter
    enabled: yes
    state: started

